.item {
  margin-left: 10px;
  margin-right: 40px;
}
.label {
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
}
.value {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}
.content {
  text-align: justify;
}

.message {
  font-size: 20px;
  font-weight: 700;
  font-family: inherit;
}
